body {
	margin:0;
	padding:0;
	background: #cecece;
}

.test-css {
	font-family: helvetica, arial, sans-serif;
	font-size:14px;
}

.test-css-2 {
	color: red;
}

.test-css-4 {
	
}

.test-css-6 {
	color:black;

}

.test-css-5 {
	
}